asgiref
certifi
charset-normalizer
click
colorama
Django
filelock
fsspec
huggingface-hub
idna
intel-openmp
Jinja2
joblib
MarkupSafe
mkl
mpmath
networkx
nltk
numpy
packaging
pillow
PyYAML
regex
requests
safetensors
sqlparse
sympy
tbb
tensorflow-gpu
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
typing_extensions
tzdata
urllib3
